$font: "Poppins-Regular", sans-serif;
$body-color: #808191;
$button-bg: #353340;
$border-color: rgba(128, 129, 145, 0.24);
$border-color-light: rgba(128, 129, 145, 1);
$light: #FFFFFF;
$page-color: #403d50;
$accent-bg: aquamarine;
$active-bg: palevioletred;
$theme: darkorchid;
$light-bg: #9D63EB;
$light-link: #3C07D6;

// brackpoint

$mobile-width: 768px; //xs 320-768
$tablet-width: 993px; // md 992-1200
$desktop-width: 1201px; //lg 1200 -
