// Mixin size icons
@mixin size($size) {
    width: $size;
    height: $size;
}

$sm-ico: 20px;
$lg-ico: 24px;

.ico-svg {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    color: $body-color;

    &--lg {
        @include size($lg-ico);

    }
    &--sm {
        @include size($sm-ico);
    }
    &--inherit {
        color: inherit;
    }
    // &--primary {

    // }
    // &--secondary {
    //     color: $body-color;
    //     background-color: $border-color;
    // }

    // &--accent {
    //     color: $light;
    // }
    &--is-active {
        color: $light;
    }

    // &--primary {
    //     color: $primary-text;
    // }

    // &--accent {
    //     color: $accent-secondary-fill;
    // }
    // &--light {
    //     color: $primary-fill;
    // }
    // &--help {
    //     color: #cccccc;
    // }
    // &--dark {
    //     color: $help-text;
    // }
    // &--danger {
    //     color: $danger-fill;
    // }
    // &--info {
    //     color: $default-link-color;
    // }
}
